version: "3"

services:
  next-app:
    build:
      context: ./next-app
      dockerfile: prod.Dockerfile
      args:
        ENV_VARIABLE: ${ENV_VARIABLE}
        NEXT_PUBLIC_ENV_VARIABLE: ${NEXT_PUBLIC_ENV_VARIABLE}
    restart: always
    ports:
      - 4000:4000
    networks:
      - my_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.cakebreadtvv.rule=Host(`admin.cakebreadtv.com`)"
      - "traefik.http.routers.cakebreadtvv.entrypoints=websecure"
      - "traefik.http.routers.cakebreadtvv.tls.certResolver=cloudflare"
      - "traefik.http.services.cakebreadtvv.loadbalancer.server.port=4000"
networks:
  my_network:
    external: true
